body {
	font-family: Helvetica, Verdana;
	font-size: 12pt;
}

span.normal {
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
span.important {
  font-weight: bold;
  font-style: italic;
}

p {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 2pt;
}

p.nospace {
  margin: 2pt;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

input {
	text-align: center;
}

.aleft {
	text-align: left;
}

.aright {
	text-align: right;
}

input.small {
	width: 20pt;
}

input.medium {
	width: 40pt;
}

input.large {
	width: 80pt;
}

div {
  padding: 2pt;
}

h1 {

}

body > div {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px ridge;
}

div.settings div:first-child {
  width: 100pt;
  background-color: #eeeeee;
  font-weight: bold;
  font-style: italic;
}

div.settings div:nth-child(2) {
  flex-grow: 1;
  line-height: 150%;
}

img.thumbnail {
  max-width:25%;
  height:auto;
  float:right;
  border: 5px inset;
  margin-left: 5pt;
}

div.controls {
  margin-top: 5pt;
  display: flex; 
  float: right;
  clear: right;
}

div.busy {
  opacity:0.8;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  text-align: center;
}

div.busy div:first-child {
  background-color: #ffffff;
  margin: auto;
  display: inline-block;
}

p.message {
  margin: 2pt;
  font-weight: bold;
}

.SUCCESS {
  color: rgb(0, 155, 0);
  background-color: rgb(189, 248, 189);
}

.INFO {
  color: #00529B;
  background-color: #BDE5F8;
}

.WARNING {
  color: #9F6000;
  background-color: #FEEFB3;
}

.ERROR {
  color: #D8000C;
  background-color: #FFD2D2
}
