body {
	font-family: Helvetica, Verdana;
	font-size: 12pt;
}

span.normal {
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
span.important {
  font-weight: bold;
  font-style: italic;
}

p {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 2pt;
}

p.nospace {
  margin: 2pt;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
  color: blue;
}

input {
	text-align: center;
}

.aleft {
	text-align: left;
}

.aright {
	text-align: right;
}

input.small {
	width: 20pt;
}

input.medium {
	width: 40pt;
}

input.large {
	width: 80pt;
}

div {
  padding: 2pt;
}

h1 {

}

body > div {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px ridge;
}

div div:first-child {
  width: 100pt;
  background-color: #eeeeee;
  font-weight: bold;
  font-style: italic;
}

div div:nth-child(2) {
  flex-grow: 1;
  line-height: 150%;
}

img {
  max-width:25%;
  height:auto;
  float:right;
  border: 5px inset;
  margin-left: 5pt;
}