<h1><a href="https://github.com/mrworf/photoframe">PhotoFrame Configuration</a></h1>

In order to allow photoframe to access your pictures, you must first give it permission to access your account.
<p>
  During this process, google will mention "sensenet.nu", this is because of the OAuth we did in an earlier step. It allows us to easily get directed back to your photoframe. For more details about this, see the <a href="https://github.com/mrworf/photoframe#how-come-you-contact-photoframesensenetnu-" target="_blank">README.md</a>
</p>
<input type="button" value="Give photoframe access to pictures from my Google Photos" id="link">

<script type="text/javascript">
$('#link').click(function() {
	location.href = "/link"
});
</script>
