<h1><a href="https://github.com/mrworf/photoframe">PhotoFrame Configuration</a> <span id="tiny"><a href="https://mrworf.github.io/">news / blog</a></span></h1>

	{{#if hardware.throttling}}
	<p class="WARNING top">Your device is being throttled. Make sure it has enough power and gets enough air</p>
	{{else}}
	{{#if hardware.undervoltage}}
	<p class="WARNING top">Your device is not getting enough power. Check your power supply and device requirements</p>
	{{/if}}
	{{/if}}

<img class="thumbnail" alt="On screen now" title="Realtime view, updates every 30s" src="/details/current" id="screen">
<div class="controls">
	<button class="slideshowControl" id="prevAlbum">Prev Group</button>
	<button class="slideshowControl" id="nextAlbum">Next Group</button>
	<div style="display: inline-block; width: 25px"></div>
	<button class="slideshowControl" id="prevImage">Prev Image</button>
	<button class="slideshowControl" id="nextImage">Next Image</button>

</div>
<div class="settings">
	<div style="text-align: left">
		Display
	</div>
	<div>
		{{#if resolution.resolution}}
		Resolution
		<select name="tvservice">
			{{#select settings.tvservice}}
			{{#each resolution.resolution}}
				<option value="{{this.mode}} {{this.code}} HDMI">{{this.width}}x{{this.height}}{{this.scan}} ({{this.rate}}Hz)</option>
			{{/each}}
			{{/select}}
		</select>
		{{else}}
			No display connected or detected
		{{/if}}
		<br>
		Select custom display driver
		<select name="display-driver">
			{{#select settings.display-driver}}
			<option value="none">Use HDMI only</option>
			{{#each drivers}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
			{{/select}}
		</select>
		<input style="position:absolute; top: -100px" type="file" data-url="upload/driver" id="driver" name="filename"><button id="driver-button">Upload new driver</button>
		<br>
		Rotate display
		<select name="display-rotation">
      {{#select rotation.rotation}}
      <option value="0">No rotation</option>
      <option value="90">90 degrees clockwise</option>
      <option value="180">Up-side-down</option>
      <option value="270">90 degrees counter-clockwise</option>
	  {{/select}}
	</select>
		<br>
		<select name="display-overscan">
      {{#select overscan.overscan}}
      <option value="true">Use overscan</option>
      <option value="false">Don't use overscan</option>
	  {{/select}}
	</select>
  	(overscan will add a black border to the image)
    </div>
</div>
<br>
<div class="settings">
    <div style="text-align: left">
        Slideshow
    </div>
    <div>
        Change every <input value="{{settings.interval}}" type="text" class="small" name="interval" data-validate="interval"> seconds
        <br>
        Only show images that match display orientation
        <select name="force_orientation">
            {{#select settings.force_orientation}}
            <option value="0">no</option>
            <option value="1">yes</option>
            {{/select}}
        </select>
        <br>
        Refresh keywords after <input value="{{settings.refresh}}" type="text" class="small" name="refresh" data-validate="refresh"> hours <button onclick="alert('Will refresh list from server after this many hours. If all photos are shown, refresh will always happen. Set to zero if you only want to refresh once all images have been shown');">Explain</button>
        <br>
        How to handle images which don't fill the screen
        <select name="imagesizing">
            {{#select settings.imagesizing}}
            <option value="none">Do nothing</option>
            <option value="blur">Blur</option>
            <option value="zoom">Fill</option>
            <option value="auto">Auto</option>
            {{/select}}
        </select>
        <button id='explain_imagesizing'>Explain</button>
        <br>
        Randomize image order
        <select name="randomize_images">
            {{#select settings.randomize_images}}
            <option value="0">no</option>
            <option value="1">yes</option>
            {{/select}}
        </select>
        <br>
        When internet and/or network is lost
        <select name="offline-behavior">
            {{#select settings.offline-behavior}}
            <option value="wait">wait for network</option>
            <option value="ignore">ignore and continue</option>
            {{/select}}
        </select>
        {{#if network.network}}
        {{else}}
        <span class="nointernet">[No internet connection detected]</span>
        {{/if}}
        <br>
        Use image cache to minimize network traffic
        <select name="enable-cache">
            {{#select settings.enable-cache}}
            <option value="1">yes</option>
            <option value="0">no, never cache images</option>
            {{/select}}
        </select>
        <br>
        <input type="button" id="forgetMemory" title="Show images that have already been displayed" value="Forget Memory">
        <input type="button" id="clearCache" title="In case you have recently cropped or edited your photos" value="Clear Cache">
    </div>
</div>
<br>
<div class="settings">
    <div style="text-align: left">
        Options
    </div>
    <div>
		GPIO to monitor for shutdown interrupts
		<input value="{{settings.shutdown-pin}}" type="text" class="small" name="shutdown-pin" data-validate="gpio" data-confirm="gpio">
		<br>
		Turn on display at hour <input value="{{settings.display-on}}" type="text" class="small aright" name="display-on" data-validate="time">
		and off at hour <input value="{{settings.display-off}}" type="text" class="small aright" name="display-off" data-validate="time"> (24h time)
		<br>
		{{#if sensor.sensor}}
		Auto off if ambient lux is below
		<input value="{{settings.autooff-lux}}" type="text" class="medium" name="autooff-lux" data-validate="lux"> lux for
		<input value="{{settings.autooff-time}}" type="text" class="small" name="autooff-time" data-validate="minutes"> minutes
		<br>
		Current ambient environment <span id="lux">-.--</span> lux and <span id="colortemp">----</span>K color temperature.
        <br>
		{{/if}}
		Power saving measures should
		<select name="powersave">
			{{#select settings.powersave}}
			<option value="none">not be used</option>
			<option value="schedule">use schedule</option>
			<option value="sensor">use environment {{#if sensor.sensor}}{{else}}(no sensor){{/if}}</option>
			<option value="sensor+schedule">use schedule and environment {{#if sensor.sensor}}{{else}}(no sensor){{/if}}</option>
			{{/select}}
		</select>
    </div>
</div>
<br>

<div class="settings">
	<div style="text-align: left">
		System
	</div>
	<div>
        Network name for this frame
        <input type="text" name="hostname" value="{{hostname.hostname}}">
        <br>
        Time zone
        <select name="timezone">
            {{#select settings.timezone}}
            {{#each timezones}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
        <br>
		<input type="button" id="update" value="Check for update">
		<div style="display: inline-block; width: 50px"></div>
		<input type="button" id="reboot" value="Reboot">
		<input type="button" id="shutdown" value="Power off">
		<div style="display: inline-block; width: 50px"></div>
		<input type="button" id="debug" value="Log report">
        <br>
        <input type="button" id="reset" value="Factory Reset">
        <div style="display: inline-block; width: 50px"></div>
        <input type="button" id="backup" value="Backup Settings">
        <input type="button" id="restore" value="Restore Settings">
        <div style="display: inline-block; width: 50px"></div>
        <input type="button" id="dnldcfg" value="Download Settings">
        <input style="position:absolute; top: -100px" type="file" data-url="upload/config" id="config" name="filename"><button id="config-button">Upload Settings</button>
    </div>
</div>
<h2>PhotoFrame Services</h2>
<br>
{{#if service-defined}}
{{#each service-defined}}
<div  class="settings">
	<div style="text-align: left">
		{{name}}<br>
		<input type="button" data-service="{{id}}" class="service-delete" value="Delete" style="width: 75%">
	</div>
	<div>
		{{#each messages}}
		<p class="message {{level}}">
			&nbsp;
			{{#if link}}<a class="{{level}}" href="{{link}}" target="_blank">{{/if}}
			{{message}}
			{{#if link}}</a>{{/if}}
		</p>
		{{/each}}
		{{#ifvalue state value="OAUTH" }}
			<input style="position:absolute; top: -100px" type="file" data-url="service/{{id}}/oauth" data-service="{{id}}" class="oauth-json" name="filename">
			<input type="button" data-service="{{id}}" class="service-oauth" value="Authorize">
			For details on how to create an authorization, please see <a href="https://github.com/mrworf/photoframe/wiki/How-to-create-an-authorization-file" target="_blank">the wiki</a>
		{{/ifvalue}}
		{{#ifany state "READY" "NEED_KEYWORDS" "NO_IMAGES"}}
		{{#if keywords.keywords}}
		<p class="nospace" id="keywords">
			{{#each keywords.keywords}}
				<input class="keyword-delete" type="button" data-service="{{../id}}" data-index="{{@index}}" value="Delete">
				{{#if ../hasSourceUrl}}
					<input class="keyword-search" data-service="{{../id}}" data-index="{{@index}}" type="button" value="Open">
				{{/if}}
				{{#if ../hasDetails}}
					<input class="keyword-details" data-service="{{../id}}" data-index="{{@index}}" type="button" value="Details">
				{{/if}}
				{{#if this}}
					{{this}}
				{{/if}}
				<br>
			{{/each}}
		</p>
		{{/if}}
		<p class="nospace" style="display: flex">
			<input type="button" class="keyword-help" data-service="{{id}}" value="Help">
			<input type="text" class="keyword" style="flex: 2; text-align: left">
			<input type="button" class="keyword-add" data-service="{{id}}" value="Add">
		</p>
		{{/ifany}}
	</div>
</div>
<br>
{{/each}}
{{/if}}
<div>
	<input type="button" id="new-service" value="Add photo provider">
	<select id="new-service-type">
		{{#each service-available}}
			{{#if this.deprecated}}
			{{else}}
			<option value="{{this.id}}">{{this.name}}</option>
			{{/if}}
		{{/each}}
		</select>
	</div>
<br>
<div class="busy" style="display: none" id="busy">
	<div>
		<img src="/img/busy.gif">
	</div>
</div>
<div class="help" style="display: none" id="help_imagesizing">
	<div>
		<h3>Do nothing</h3>
		Like the option indicates, will simply show the image, leaving the unused screen area blank
		<h3>Blur</h3>
		Will fill unused screen area with a zoomed and blurred version of the image shown. It's also darker to avoid distracting from the image shown.
		<h3>Fill</h3>
		Zoom the image so that it will fill the entire screen. This will cause the image to be cropped.
		<h3>Auto</h3>
		Will choose between blur and fill. The selection is based on how much screen area would be blank. If the area is very small, blur looks odd (you get a VERY small stripe of the blurred image), instead
		it will use fill, since very little of the image will be cropped.
		<hr>
		<button name="help_close">Dismiss</button>
	</div>
</div>
<div class="details" style="display: none" id="help_details">
	<div>
		<h3>Summary</h3>
		<span id="details_short">Stuff and things</span>
		<h3>Details</h3>
		<div class="details_scroll" id="details_long">
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
			Some<br>
			Lines<br>
			Of<br>
			Text<br>
		</div>
		<hr>
		<button name="details_close">Dismiss</button>
	</div>
</div>
<script type="text/javascript" src="/js/main.js"></script>
