<h1><a href="https://github.com/mrworf/photoframe">PhotoFrame Configuration</a></h1>
<img alt="On screen now" title="Realtime view, updates every 30s" src="/details/current" id="screen">
<div>
	<div>
		Screen
	</div>
	<div>
		Resolution <input value="{{width}}" type="text" class="medium" name="width" data-validate="width">
		x
		<input value="{{height}}" type="text" class="medium" name="height" data-validate="height">
		bitdepth <input value="{{depth}}" type="text" class="small" name="depth" data-validate="depth">
		<br>
		<a href="#" id="tv">TV service options</a>
		<input value="{{tvservice}}" type="text" class="large aleft" name="tvservice">
		<br>
		GPIO PIN to monitor for shutdown interrupts
		<input value="{{shutdown-pin}}" type="text" class="small" name="shutdown-pin" data-validate="gpio" data-confirm="gpio">
		<br>
		Turn on display at hour <input value="{{display-on}}" type="text" class="small aright" name="display-on" data-validate="time">
		and off at hour <input value="{{display-off}}" type="text" class="small aright" name="display-on" data-validate="time"> (24h time)
		<br>
		Auto off if ambient lux is below 
		<input value="{{autooff-lux}}" type="text" class="medium" name="autooff-lux" data-validate="lux"> lux for 
		<input value="{{autooff-time}}" type="text" class="small" name="autooff-time" data-validate="minutes"> minutes
		<br>
		Current ambient environment <span id="lux">-.--</span> lux and <span id="colortemp">----</span>K color temperature.
		<br>
		Power saving measures should 
		<select name="powersave">
			{{#select powersave}}
			<option value="">not be used</option>
			<option value="schedule">use schedule</option>
			<option value="sensor">use environment</option>
			<option value="sensor+schedule">use schedule and environment</option>
			{{/select}}
		</select>
	</div>
</div>
<br>
<div>
	<div>
		Slideshow
	</div>
	<div>
		Change every <input value="{{interval}}" type="text" class="small" name="interval" data-validate="interval"> seconds<br>
		Refresh list of photos every <input value="{{refresh-content}}" type="text" class="small" name="refresh-content" data-validate="refresh"> hours<br>
		<span style="font-size: 9pt" class="normal">(setting refresh to zero forces all images to be displayed before refreshing)</span>
	</div>
</div>
<br>
<div>
	<div>
		System
	</div>
	<div>
		<input type="button" id="reset" value="Factory Reset">
		<input type="button" id="reboot" value="Reboot">
		<input type="button" id="shutdown" value="Power off">
	</div>
</div>
<div>
	<div>
		Google Photos<br>
		<span style="font-size: 9pt" class="normal">(<a href="/link">reauthorize</a>)</span>
	</div>
	<div>
		<p class="nospace" id="keywords"></p>
		<p class="nospace" style="display: flex">
			<input type="text" id="keyword" style="flex: 2; text-align: left">
			<input type="button" id="add" value="Add keywords">
			<input type="button" id="test" value="Test keywords">
		</p>
	</div>
</div>
<br>

<script type="text/javascript">
	// Refresh image every 30s
	function reloadScreen() {
		$('#screen').attr('src', "/details/current?" + new Date().getTime())
		setTimeout(reloadScreen, 30000);
	}
	reloadScreen();

	function updateAmbient() {
		$.ajax({
			url:'/details/color'
		}).done(function(data) {
			if (data['temperature'] == null)
				return;

			$('#colortemp').text(data['temperature'].toFixed(0));
			$('#lux').text(data['lux'].toFixed(2));
			setTimeout(updateAmbient, 5000);
		});
	}
	updateAmbient();

	valid = new Validator();
	confirmation = new Confirmation();

	$("input[type='text']").change(function() {
		confirmit = $(this).data('confirm');
		if (confirmit && !eval('confirmation.' + confirmit + '()')) {
			// Yeah, not pretty, but easier
			document.location.reload();
			return;
		}
		validate = $(this).data('validate');
		if (validate) {
			$(this).val(eval('valid.' + validate + '($(this).val());'));
		}
		$.ajax({
			url:"/setting/" + $(this).attr('name') + "/" + $(this).val(),
			type:"PUT"
		}).done(function(){
		});
	});

	$("select[name=powersave]").change(function() {
		$.ajax({
			url:"/setting/" + $(this).attr('name') + "/" + encodeURIComponent($(this).val()),
			type:"PUT"
		}).done(function(){
		});
	});

	$("#reset").click(function() {
		if (confirm("Are you sure? Link to photos will also be reset")) {
			$.ajax({
				url:"/reset"
			}).done(function(){
				location.reload();
			});
		}
	});

	$("#reboot").click(function() {
		if (confirm("Are you sure you want to REBOOT?")) {
			$.ajax({
				url:"/reboot"
			}).done(function(){
				var newDoc = document.open("text/html", "replace");
				newDoc.write("<html><body><h1>Power off</h1></body></html>");
				newDoc.close();
			});
		}
	});

	$("#shutdown").click(function() {
		if (confirm("Are you sure you want to POWER OFF the frame?")) {
			$.ajax({
				url:"/shutdown"
			}).done(function(){
				var newDoc = document.open("text/html", "replace");
				newDoc.write("<html><body><h1>Power off</h1></body></html>");
				newDoc.close();
			});
		}
	});

	$('#tv').click(function() {
		$.ajax({
			url:"/details/tvservice"
		}).done(function(data) {
			txt = "";
			if (data['cea'].indexOf(' 0 ') === -1) {
				txt += data['cea'];
			}
			if (data['dmt'].indexOf(' 0 ') === -1) {
				txt += data['dmt'];
			}
			if (txt == "")
				txt = "No modes found for connected monitor";
			else
				txt += "\nOption format: <DMT/CEA> <MODE NBR> <HDMI/DVI>"
			alert(txt);
		});
	});
	populateKeywords();
</script>
