<h1><a href="https://github.com/mrworf/photoframe">PhotoFrame Configuration</a></h1>

You must provide OAuth2.0 details from Google, paste the JSON data into this box:<br>
<textarea style="width: 600px; height: 300px" id="oauth"></textarea><br>
<input type="button" id="authsubmit" value="Save"><hr>
<hr>
To obtain the JSON data, do the following
<ol>
	<li>Go to <a href="https://console.developers.google.com/apis/dashboard" target="_blank">Google API console</a>. You may have to login, this will be the same login as you use for Google Phots</li>
	<li>Clicking on button at the top left next to "Google APIs"</li>
	<li>On the new window, click "+" </li>
	<li>Name your project, for this example, we'll use "Photo Frame". After you named it, click "Create"</li>
	<li>This takes you back to the dashboard. If the text next to "Google APIs" (top left) doesn't say "Photo Frame", click the button again and select "Photo Frame"</li>
	<li>Click "Credentials" on the left-hand side</li>
	<li>Click "Create credentials" and select "OAuth client ID" from the list</li>
	<li>On the new screen, follow the advice and click "Configure consent screen"</li>
	<li>Email is already prefilled so all you need to enter is a "Product name shown to users" which for this example we'll use "Photo Frame". Once done, click "Save"</li>
	<li>Now it's asking you to choose an "Application type". Pick "Web application"</li>
	<li>On the two new fields, we want to add an "Authorized redirect URIs", click this field and enter "https://photoframe.sensenet.nu". It's <span class="important">important</span> you enter this exactly as spelled, since this is how you'll be able to finish the link with your photoframe.<p>For more details about this, see the <a href="https://github.com/mrworf/photoframe#how-come-you-contact-photoframesensenetnu-" target="_blank">README.md</a></p></li>
	<li>Click "Create" to finish the creation of credentials.</li>
	<li>The new popup called "OAuth client" can just be dismissed by clicking "OK"</li>

		<


</ol>
<script type="text/javascript">
$('#authsubmit').click(function() {
	$.ajax({
		url:"/oauth",
		type:"POST",
		data: $('#oauth').val(),
		contentType: "application/json; charset=utf-8",
		dataType: "json"
	}).done(function(data){
		location.reload();
	}).fail(function(data){
		alert('Invalid OAuth data');
	});
});
</script>
